.calendar {
    width: 100%;
    max-width: none; /* Убираем ограничение ширины */
    margin: 0; /* Убираем центрирование */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-grow: 1; /* Чтобы календарь занимал все доступное пространство */
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5em; /* Увеличенный размер шрифта */
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 2em; /* Увеличенный размер стрелок */
    cursor: pointer;
    padding: 5px 10px;
}

.calendar-header select {
    font-size: 1.2em; /* Увеличенный размер шрифта в выпадающих списках */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 15px; /* Увеличенный отступ */
    text-align: center;
    color: #777;
    font-size: 1.1em; /* Более крупный шрифт для дней недели */
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px; /* Увеличенный отступ между ячейками */
    text-align: center;
    flex-grow: 1; /* Чтобы сетка занимала оставшееся пространство */
}

.calendar-cell {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100px;
    border: 1px solid #eee;
}

.calendar-cell:hover {
    background-color: #eee;
}

.empty-cell {
    visibility: hidden;
    border: none;
}

.calendar-cell .day-number {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.calendar-cell.today {
    background-color: #e0f7fa;
    font-weight: bold;
}

.calendar-cell.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.task-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
    text-align: left;
    width: 100%;
}

.task-list li {
    white-space: normal;
    word-break: break-word;
    margin-bottom: 3px;
    padding: 2px 0;
    line-height: 1.2;
}

.calendar-cell.selected .task-list {
  color: white;
}

.task-item {
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 2px;
}

.priority-1 {
    background-color: #ffcccc; /* Красный фон для высокого приоритета */
    color: #cc0000;
}

.priority-2 {
    background-color: #fffacd; /* Желтый фон для среднего приоритета */
    color: #8B8000;
}

.priority-3 {
    background-color: #ccffcc; /* Зеленый фон для низкого приоритета */
    color: #006600;
}