.calendar-page {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh; /* Страница календаря на всю высоту окна */
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main-header h1 {
    margin: 0;
    font-size: 24px;
}

.add-task-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.add-task-button .add-icon {
    font-size: 20px;
    margin-right: 5px;
}

.calendar-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    flex-grow: 1; /* Чтобы календарь занимал все доступное пространство на странице */
    display: flex;
    overflow: hidden; /* Убираем внутренний скролл, чтобы всё влезало в страницу */
}